
<div role="document"  style="width: 850px;margin-left: 100px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close0">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加新附件</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="editForm">
		  <div class="form-group">
		    <label for="inputEmailEdit" class="col-sm-2 control-label">附件名称:</label>
		    <div class="col-sm-10">
{#		      <input type="email" class="form-control" id="inputEmailEdit" value="fmuncle@163" readonly>#}
                <input type="text" class="form-control" id="atta_name"  name="atta_name" placeholder="请输入附件名称" onkeyup="checkposTitle()" >
		    </div>
		  </div>
            <div class="form-group" id ="na" style="display: none">
                <p class="col-sm-2 control-label">提示</p>
                <p class="col-sm-10 atta_name"></p>
            </div>

		  <div class="form-group">
		    <label for="inputNameEdit" class="col-sm-2 control-label">存储链接:</label>
		    <div class="col-sm-10">
		      <input type="text"  class="form-control" name="filename" id="filename" placeholder="请输入存储链接" onkeyup="checkcenLink()" >
		    </div>
		  </div>
            <div class="form-group" id ="na1" style="display: none">
                <p class="col-sm-2 control-label">提示</p>
                <p class="col-sm-10 filename"></p>
            </div>

		</form>
      </div>

        <div id="mess"  style="width: 400px;height: 200px;background-color: white;border: 2px solid #EAF2D3;top: 120px;left:130px;position: absolute;display: none">
            <h4 style="font-size: 20px;margin-left: 82px;margin-top: 50px;color: red">该附件已存在！！</h4>
            <div class="add" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: 50px;margin-left: 40px;">重新添加</div>
            <div class="list" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: -38px;margin-left: 240px;">查看信息</div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" id="close">取消</button>
        <button type="submit" class="btn btn-primary" form="addForm" id="btn">提交</button>
      </div>
    </div>
</div>

<div class="clear" style="clear: both;"></div>
<div id="message" class="message" style="width: 400px;height: 200px;background-color: white;border: 2px solid #EAF2D3;top: 160px;left:360px;position: absolute;display: none">
    <h4 style="font-size: 32px;margin-left: 62px;margin-top: 20px;color: black">附件添加成功！</h4>
    <div class="add" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: 50px;margin-left: 40px;">继续添加</div>
    <div class="list" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: -38px;margin-left: 240px;">查看信息</div>
</div>

<script>

    $('#close').click(()=>{
          $.ajax({
                    url: '/server/server_atta/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('附件表');
                        $('#main>.info').html(data);
                    }
                })
    });

    $('#close0').click(()=>{
          $.ajax({
                    url: '/server/server_atta/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('附件表');
                        $('#main>.info').html(data);
                    }
                })
    });


    //验证名称是否符合规范，同时让他不能为空
    function checkposTitle() {
        var atta_name = $('#atta_name').val();
        var re = /^[\u4e00-\u9fa5\w]{1,30}$/;
        if (!re.test(atta_name)) {
            $('.atta_name').html("名称不能为空或输入有误！！")
                .css({
                    'color': 'red',
                    'font-weight': 'bold'
                });
            $('#na').css({
                'display': 'block',
            });
        } else {
            $('.atta_name').html("输入正确")
                .css({
                    'color': "green"
                });
            $('#na').css({
                'display': 'block',
            });
        }
        return re.test(atta_name);
    }

    //验证编号是否符合规范，同时让他不能为空
    function checkcenLink() {
        var filename = $('#filename').val();
        var re = /^[\S]{6,30}$/;
        if (!re.test(filename)) {
            $('.filename').html("链接地址不能为空或输入有误！！")
                .css({
                    'color': 'red',
                    'font-weight': 'bold'
                });
            $('#na1').css({
                'display': 'block',
            });
        } else {
            $('.filename').html("输入正确")
                .css({
                    'color': "green"
                });
            $('#na1').css({
                'display': 'block',
            });
        }
        return re.test(filename);
    }

    $('#btn').click(()=>{
        var atta_name = $("#atta_name").val();
        var filename=$('#filename').val();

        if(checkposTitle()&&checkcenLink()){
            $.ajax({
                url: '/server/addss_ser_atta/',
                type: 'post',
                data: {
                    'atta_name': atta_name,
                    'filename':filename,
                },
                success: (data) => {
                    if (data['status'] === 'success') {  //判断
                        $('.message').css('display', 'block');
                    }else if(data['status'] === 'fail'){
                        $('#mess').css('display', 'block'); //如果为fail，则跳出框
                    }
                }
            })
        }
    });
    //提交成功后跳出的框内的操作
    $('.list').click(()=>{
        $.ajax({
            url:'/server/server_atta/',
            type:'get',
            success:(data)=>{
                $("#main h1").html('附件表');
                $('.info').html(data);
            }
        })
    });
    $('.add').click(()=>{
        $('.message').css('display','none');
        $.ajax({
            url:'/server/add_ser_atta/',
            type:'get',
            success:(data)=>{
                $("#main h1").html("添加新附件");
                $(".info").html(data);
            }
       })
    });

</script>