<div  role="document" style="width: 850px;margin-left: 100px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close0">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">模拟题附件详细</h4>
      </div>
      <div class="modal-body">
    		<table class="table table-bordered table-hover table-striped table-responsive">
    			<tbody>
    				<tr>
    					<td width="25%">附件名称</td>
    					<td width="75%">{{ ser_aqu.ques_name }}</td>
    				</tr>
    				<tr>
    					<td>存储链接</td>
    					<td>{{ ser_aqu.ques_filename}}</td>
    				</tr>
    				<tr>
    					<td>添加时间</td>
    					<td>{{ ser_aqu.adddtime}}</td>
    				</tr>
    				<tr>
    					<td>院校名称</td>
    					<td>{{ ser_aqu.ques_school.name}}</td>
    				</tr>
    				<tr>
    					<td>专业名称</td>
    					<td>{{ ser_aqu.ques_major.major_name }}</td>
    				</tr>
    				<tr>
    					<td>专业层次</td>
    					<td>
                            {% if ser_aqu.ques_level.level == 0 %}
                                        高起专
                            {% elif ser_aqu.ques_level.level == 1 %}
                                        高起本
                            {% elif ser_aqu.ques_level.level == 2 %}
                                        专升本
                            {% endif %}
                        </td>
    				</tr>
    			</tbody>
    		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="close">关闭</button>

      </div>
    </div>
</div>

<script>
    $('#close').click(()=>{
          $.ajax({
                    url: '/server/server_aques/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('模拟题表');
                        $('#main>.info').html(data);
                    }
                })
    });

    $('#close0').click(()=>{
          $.ajax({
                    url: '/server/server_aques/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('模拟题表');
                        $('#main>.info').html(data);
                    }
                })
    });
</script>