<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close0">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑用户信息</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="editForm">
		  <div class="form-group">
		    <label for="inputEmailEdit" class="col-sm-2 control-label">邮箱</label>
		    <div class="col-sm-10">
{#		      <input type="email" class="form-control" id="inputEmailEdit" value="fmuncle@163" readonly>#}
                <input type="email" class="form-control" id="inputEmailEdit" name="email" value="{{ users.email|default:"xx@xx.com" }}" readonly>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputNameEdit" class="col-sm-2 control-label">手机号码</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control phone" name="phone"  placeholder="请输入手机号" value="{{ users.phone|default:"-----------" }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputNameEdit" class="col-sm-2 control-label">昵称</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control nickname" name="nickname" placeholder="请输入用户名" value="{{ users.nickname }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputRealNameEdit" class="col-sm-2 control-label">真实姓名</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control id_name" name="id_name" placeholder="请输入真实姓名" value="{{ user.id_name }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputIdEdit" class="col-sm-2 control-label">身份证号</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control id_card" name="id_card" placeholder="请输入身份证号" value="{{ user.id_card }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">地区</label>
		    <div class="col-sm-10 address-select">
{#                <b>请选择省：</b>#}
                <select  name="province" id="province" onchange="have_city(this)">
                    <option value="">请选择省份</option>
                    {% for province in provinces.all %}
                        <option value="{{ province.provinceid }}">{{ province }}</option>
                    {% endfor %}
                </select>

                <select  name="city" id="city" onchange="have_country(this)">
                    <option value="">请选择市</option>
                </select>

                <select  name="country" id="country">
                    <option value="">请选择区县</option>
                </select>

		    </div>
		  </div>

		  <div class="form-group">
		    <label for="inputAddressEdit" class="col-sm-2 control-label">详细地址</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control address" name="address" placeholder="请输入详细地址" value="{{ user.address }}">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="inputSchoolEdit" class="col-sm-2 control-label">毕业院校</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="school" id="school" value="{{ users.school|default:"默认" }}">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label for="inputMajorEdit" class="col-sm-2 control-label">所学专业</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="major" id="major" value="{{ users.major|default:"默认" }}">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="inputEducationEdit" class="col-sm-2 control-label">学历</label>
		    <div class="col-sm-10">
                <input type="radio" name="education" value="wm" checked>文盲
                <input type="radio" name="education" value="xx">小学
                <input type="radio" name="education" value="cz">初中
                <input type="radio" name="education" value="gz">高中
                <input type="radio" name="education" value="zz">中专
                <input type="radio" name="education" value="dz">大专
                <input type="radio" name="education" value="bk">本科
                <input type="radio" name="education" value="yjs">研究生
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="inputDeDegreeEdit" class="col-sm-2 control-label">学位</label>
		    <div class="col-sm-10">
                <input type="radio" name="dgree" value="w" checked>无
                <input type="radio" name="dgree" value="xs">学士
                <input type="radio" name="dgree" value="ss">硕士
                <input type="radio" name="dgree" value="bs">博士
		    </div>
		  </div>

		</form>
      </div>

      <input style="display: none" value="{{ users.id }}" id="userid">

      <div class="modal-footer">
        <button type="button" class="btn btn-link" id="close">取消</button>
        <button type="submit" class="btn btn-primary" form="addForm" id="submit">提交</button>
      </div>
    </div>
</div>
<div class="clear" style="clear: both;"></div>
<div id="messagee" class="messagee" style="width: 400px;height: 200px;background-color: white;border: 2px solid #EAF2D3;top: 320px;left:360px;position: absolute;display: none">
    <h4 style="font-size: 32px;margin-left: 122px;margin-top: 20px;color: black">编辑成功！</h4>
    <div class="addd" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: 50px;margin-left: 140px;">返回</div>
</div>
<script>
    var get_val = ()=>{
        // 获取具体的值
        var nickname = $('.nickname').val();// 昵称
        var phone = $('.phone').val();//手机号
        var id_name = $('.id_name').val();// 真实姓名
        var id_card = $('.id_card').val();//身份证号
        var address = $('.address').val();//详细地址
        {#var is_student = $('input[name="is_student"]:checked').val(); // 是否报过名#}
        var education = $('input[name="education"]:checked').val(); // 学历
        var dgree = $('input[name="dgree"]:checked').val(); // 学位
        var province = $('#province option:selected').val(); // 省份
        var city = $('#city option:selected').val(); // 城市
        var country = $('#country option:selected').val(); // 区县
        var major = $('#major').val(); // 专业
        var school = $("#school").val(); // 学校
        {#var is_status = $('input[name="is_status"]:checked').val(); // 状态#}
        var user_data = {
            'nickname':nickname,
            'phone':phone,
            'id_name':id_name,
            'id_card':id_card,
            'address':address,
            'education':education,
            'dgree':dgree,
            'province':province,
            'city':city,
            'country':country,
            'major':major,
            'school':school,
            {#'is_status':is_status,#}
        };
        user_data = JSON.stringify(user_data);
        return user_data;
    };
    {#console.log(get_val());#}
    $('#submit').click(()=>{

        var data = get_val();
        {#data = eval(data);#}

        //var data = {};
        {#var info = $('form').serialize();#}
        {#var data = decodeURIComponent(info,true); // 反序列化#}
        var userid = $('#userid').val();
        $.ajax({
            url:'/user/user_info/',
            type:'post',
            async:false,
            data:{
                'data':data,
                'user_id':userid
            },
            success:(data)=>{
                console.log(data);
                    $('.messagee').css('display','block');
                {#alert(data)#}
                {#alert("修改成功，点击确认后跳转回首页......");#}
            }
        })
    });

    function have_city(temp) {
        var op = temp;
        proid = $(op).val();//选择省份的id
        $.ajax({
            url: '/user/get_city/',
            type: 'post',
            data: {
                'proid': proid
            },
            success: (info) => {
                var city = $('#city');
                var country = $('#country');
                country.empty().append('<option value="">请选择区县</option>');
                city.empty().append('<option value="">请选择市</option>');
                $.each(info.data, function (index, item) {
                    city.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                })
            }
        })

    }

    function have_country(temp) {
        var op = temp;
        cityid = $(op).val();
        $.ajax({
            url: '/user/get_country/',
            type: 'post',
            data: {
                'cityid': cityid
            },
            success: (info) => {
                var country = $('#country');
                country.empty().append('<option value="">请选择区县</option>');
                $.each(info.data, function (index, item) {
                    country.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                })
            }
        })
    }
    $('#close').click(()=>{
          $.ajax({
                    url: '/user/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('用户列表');
                        $('#main>.info').html(data);
                    }
                })
    });
    $('#close0').click(()=>{
          $.ajax({
                    url: '/user/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('用户列表');
                        $('#main>.info').html(data);
                    }
                })
    });
    $('.addd').click(()=>{
        $('.messagee').css('display','none');
        {#$('.modal-dialog').css('display','none');#}
        {#$("#main h1").css('display','none');#}
        $.ajax({
                    url: '/user/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('用户列表');
                        $('#main>.info').html(data);
                    }
                })
    });
</script>