<div  role="document" style="width: 850px;margin-left: 100px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close0">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">院校详情</h4>
      </div>
      <div class="modal-body">
    		<table class="table table-bordered table-hover table-striped table-responsive">
    			<tbody>
    				<tr>
    					<td width="25%">院校名称</td>
    					<td width="75%">{{ school.name }}</td>
    				</tr>
    				<tr>
    					<td>院校banner图</td>
    					<td><img src="/media/{{ school.banner}}" width="300" height="300" alt=""></td>
    				</tr>
    				<tr>
    					<td>院校描述</td>
    					<td>{{ school.description |default:' ' }}</td>
    				</tr>
    				<tr>
    					<td>校训</td>
    					<td>{{ school.motto|default:' '  }}</td>
    				</tr>
    				<tr>
    					<td>校徽</td>
    					<td><img src="/media/{{ school.emblem}}" alt=""  width="300" height="300"></td>
    				</tr>
    				<tr>
    					<td>报名须知</td>
    					<td>{{ school.enrol_notes|default:' '  }}</td>
    				</tr>
    				<tr>
    					<td>毕业证图片地址</td>
    					<td><img src="/media/{{ school.diploma_images}}" alt=""  width="300" height="300"></td>
    				</tr>
    				<tr>
    					<td>学位证图片地址</td>
    					<td><img src="/media/{{ school.degree_images}}" alt=""  width="300" height="300"></td>
    				</tr>
    				<tr>
    					<td>是否985</td>
    					<td>
                            {% if school.is_985 == 1 %}
                                       是
                            {% endif %}
                            {% if school.is_985 == 0 %}
                                        否
                            {% endif %}
                        </td>
    				</tr>
    				<tr>
    					<td>是否211</td>
    					<td>
                            {% if school.is_211 == 1 %}
                                    是
                            {% endif %}
                            {% if school.is_211 == 0 %}
                                     否
                            {% endif %}
                        </td>
    				</tr>
    				<tr>
    					<td>是否双一流</td>
    					<td>
                            {% if school.is_double == 1 %}
                                     是
                            {% endif %}
                            {% if school.is_double == 0 %}
                                    否
                            {% endif %}
                        </td>
    				</tr>
    				<tr>
    					<td>招生简章</td>
    					<td>{{ school.brief|default:' '  }}</td>
    				</tr>
                    <tr>
    					<td>考试与毕业</td>
    					<td>{{ school.exam|default:' '  }}</td>
    				</tr>
                    <tr>
    					<td>累计报读人数</td>
    					<td>{{ school.count |default:' ' }}</td>
    				</tr>
                    <tr>
    					<td>院校所在省份</td>
    					<td>{{ school.sch_pro|default:' '  }}</td>
    				</tr>
                    <tr>
    					<td>院校所在城市</td>
    					<td>{{ school.sch_city |default:' ' }}</td>
    				</tr>
                    <tr>
    					<td>学校类型</td>
    					<td>
                            {% for type in school.school_type.all %}
                                {{ type.type_name|default:' '  }}
                            {% endfor %}
                        </td>
    				</tr>
                    <tr>
    					<td>学校特性</td>
    					<td>
                            {% for type in school.scholl_feature.all %}
                                {% if forloop.last%}
                                    {{ type.feature_name |default:' ' }}
                                {% else %}
                                    {{ type.feature_name |default:' ' }} ,
                                {% endif %}
                            {% endfor %}
                        </td>
    				</tr>
    			</tbody>
    		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="close">关闭</button>

      </div>
    </div>
</div>

<script>
    $('#close').click(()=>{
          $.ajax({
                    url: '/school/school_list/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('院校列表');
                        $('#main>.info').html(data);
                    }
                })
    });

    $('#close0').click(()=>{
          $.ajax({
                    url: '/school/school_list/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('院校列表');
                        $('#main>.info').html(data);
                    }
                })
    });
</script>