<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close0">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑院校特征</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="editForm">
		  <div class="form-group">
		    <label for="inputinputNameEdit" class="col-sm-3 control-label">院校特征名称</label>
		    <div class="col-sm-9">
{#		      <input type="email" class="form-control" id="inputEmailEdit" value="fmuncle@163" readonly>#}
                <input type="text" class="form-control feature_name"  name="feature_name" value="{{ school_fea.feature_name}}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputNameEdit" class="col-sm-3 control-label">院校特征说明</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control notes" name="notes"  value="{{ school_fea.notes}}">
		    </div>
          </div>
        </form>
      <input style="display: none" value="{{ school_fea.id }}" id="feaid">

      <div style="margin-left: 420px">
        <button type="button" class="btn btn-link" id="close">取消</button>
        <button type="submit" class="btn btn-primary" form="addForm" id="submit">提交</button>
      </div>
    </div>
</div>
</div>

<div class="clear" style="clear: both;"></div>
<div id="messagee" class="messagee" style="width: 400px;height: 200px;background-color: white;border: 2px solid #EAF2D3;top: 120px;left:360px;position: absolute;display: none">
    <h4 style="font-size: 32px;margin-left: 122px;margin-top: 20px;color: black">编辑成功！</h4>
    <div class="addd" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: 50px;margin-left: 140px;">返回</div>
</div>

<script>
    $('#close').click(()=>{
          $.ajax({
                    url: '/school/school_fea/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('院校特征');
                        $('#main>.info').html(data);
                    }
                })
    });
    $('#close0').click(()=>{
          $.ajax({
                    url: '/school/school_fea/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('院校特征');
                        $('#main>.info').html(data);
                    }
                })
    });

    var get_val = ()=>{
        // 获取具体的值
        var feature_name = $('.feature_name').val();// 名称
        var notes = $('.notes').val();//说明描述

        var fea_data = {
            'feature_name':feature_name,
            'notes':notes,
        };
        fea_data = JSON.stringify(fea_data);
        return fea_data;
    };

    $('#submit').click(()=>{
        var data = get_val();
        var feaid = $('#feaid').val();
        $.ajax({
            url:'/school/update_fea/',
            type:'post',
            async:false,
            data:{
                'data':data,
                'fea_id':feaid
            },
            success:(data)=>{
                console.log(data);
                    $('.messagee').css('display','block');
                {#alert(data)#}
                {#alert("修改成功，点击确认后跳转回首页......");#}
            }
        })
    });

    $('.addd').click(()=>{
        $('.messagee').css('display','none');
        $.ajax({
                    url: '/school/school_fea/',
                    type: 'get',
                    success:(data)=>{
                        $("#main>h1").html('院校特征');
                        $('#main>.info').html(data);
                    }
                })
    });
</script>